<div class="padding-top padding-horizontal  light-bg light-border border-bottom border-top dark">
  <div class="">
    <div class="pull-left ">
      评价
    </div>
    <div class="pull-right text-right" style="position:relative">

      <div class="" style="margin-right:22px;">
        <span class="dark margin-right ">好品</span><span class="assertive margin-right" >95.5%</span>
      </div>

      <div style="position: absolute; top: -11px; right:-15px; ">
        <a class="button  button-clear button-dark item  ">
          <i class="ion-ios-more fill-icon"></i>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <hr class="no-border-top ">

  <!---
  <div class="row">
    <div class="col text-muted text-center">
      暂无评价,欢迎您购买后留下您宝贵的评价
    </div>
  </div>
  -->



  <table class="table">
    <style>
      .avatar-td{ width: 55px; }
      .evalute_content_td{vertical-align:middle}
      .evalute_content_img{ width:100px }
    </style>
    <tbody>
    <tr>
      <td class="no-border-top avatar-td">
        <img class="full-image img-circle" src="http://img10.360buyimg.com/n1/jfs/t2395/196/1400991876/366441/c67133fa/569e60c9N67ccaa6e.jpg">
      </td>
      <td class="no-border-top evalute_content_td dark" >
        买的太大了,换一个码感觉又偏小,我也是醉了.
        <div class="padding-top"></div>
        <img class=" evalute_content_img "
             image-lazy-src="http://img13.360buyimg.com/n1/jfs/t2425/314/2474993802/238356/c3ea8061/56d790cdN576bc9da.jpg" >
        <img class=" evalute_content_img " src="http://img10.360buyimg.com/n1/jfs/t2395/196/1400991876/366441/c67133fa/569e60c9N67ccaa6e.jpg">
        <img class=" evalute_content_img " src="http://img10.360buyimg.com/n1/jfs/t2395/196/1400991876/366441/c67133fa/569e60c9N67ccaa6e.jpg">
        <img class=" evalute_content_img " src="http://img10.360buyimg.com/n1/jfs/t2395/196/1400991876/366441/c67133fa/569e60c9N67ccaa6e.jpg">
      </td>
    </tr>
    <tr>
      <td class="no-border-top avatar-td">
        <img class="full-image img-circle" src="http://img10.360buyimg.com/n1/jfs/t2395/196/1400991876/366441/c67133fa/569e60c9N67ccaa6e.jpg">
      </td>
      <td class="no-border-top evalute_content_td dark">
        买的太大了,换一个码感觉又偏小,我也是醉了.
        <div class="padding-top"></div>
        <img class=" evalute_content_img "  src="http://img10.360buyimg.com/n1/jfs/t2395/196/1400991876/366441/c67133fa/569e60c9N67ccaa6e.jpg">
      </td>
    </tr>
    </tbody>
  </table>

  <hr class="no-border-top no-margin-vertical no-margin-bottom">
  <div class="text-center">
    <a class="button icon-right button-clear ion-ios-arrow-right   ">查看全部评价(22)</a>
  </div>

</div>