<div class=" small-padding-top  light-bg light-border border-bottom border-top dark">
  <table class="table no-margin-bottom">
    <style>
      .avatar-td{ width:55px; }
      .evalute_content_td{ vertical-align:middle }
      .evalute_content_img{ width:100px }
    </style>
    <tbody>
    <tr>
      <td class="no-border-top avatar-td">
        <img class="" style="width:100px; height:50px"
             src="http://img14.360buyimg.com/n1/jfs/t1876/317/1982709815/265865/67bbc398/568a945cN7df7dbb4.jpg">
      </td>
      <td class="no-border-top evalute_content_td dark">
        <div class="h4 small" style="margin-top: 2px;;">
          北极绒庆颐丰专卖店
        </div>
        <div class="assertive">
          9.87分
        </div>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="row text-center">
    <div class="col">
      <div class="_h4">11</div>
      <div class="text-muted _h6">全部商品</div>
    </div>

    <div class="margin-vertical vertical-line">
    </div>

    <div class="col">
      <div class="_h4">5627</div>
      <div class="text-muted _h6"> 收藏人数</div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <button id="but" class="button  button-dark  ion-ios-home button-outline rounded">&nbsp;进入店铺</button>
    </div>
    <div class="col">
      <button class="button button-dark   ion-android-star-outline button-outline rounded">&nbsp;收藏店铺</button>
    </div>
  </div>

  <div class="padding-horizontal">
    <hr class="no-border-top ">
  </div>

  <div class="padding-horizontal">
    <div class="small-padding-vertical">
      <div class="pull-left">
        <div class="pull-left padding-right">服务</div>
        <div class="pull-left"  style="margin-top: 1px;;" ><i class="ion-ios-checkmark-outline assertive"></i>&nbsp;</div>
        <div class="pull-left">货到付款</div>
      </div>
      <div class="pull-right text-right" style="position:relative">
        <div style="position: absolute; top: -4px; right:-4px; ">
          <a class="button  button-clear button-small button-dark item  ">
            <i class="ion-ios-more fill-icon"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="padding-horizontal">
    <hr class="no-border-top">
  </div>


  <div class="padding-horizontal">
    <div class="small-padding-vertical">
      <div class="pull-left">
        <div class="pull-left padding-right">提示</div>
        <div class="pull-left"  style="margin-top: 1px;;" ><i class="ion-ios-information-outline text-muted"></i>&nbsp;</div>
        <div class="pull-left">支持7天无理由退货</div>
      </div>
      <div class="pull-right text-right" style="position:relative">

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="padding-bottom">
  </div>

</div>